<!DOCTYPE >
<html>
    <head>

    </head>

    <body>
        
        <h1>Welcome</h1>
        <p>The master timesheet is below:</p>

        <form action="/user_create" method="post">
            <label for="new_username">New Username: </label><input type="text" placeholder="Username" name="new_username" id="new_username"/>
            <label for="new_password">New Password: </label><input type="password" placeholder="Password" name="new_password" id="new_password"/>
            <label for="is_admin">Make New User Admin: </label><input type="checkbox" value="1" id="is_admin" name="is_admin">
            <input type="submit" value="Create User"/>
        </form>


        
        
        <script>
        </script>

    </body>
</html>
