<!DOCTYPE >
<html>
    <head>
        <link rel="stylesheet" href="/styles/main_style.css"/>
        <link rel="stylesheet" href="/styles/adminhomepage_style.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.16.0/tingle.min.js" integrity="sha512-2B9/byNV1KKRm5nQ2RLViPFD6U4dUjDGwuW1GU+ImJh8YinPU9Zlq1GzdTMO+G2ROrB5o1qasJBy1ttYz0wCug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.16.0/tingle.min.css" integrity="sha512-b+T2i3P45i1LZM7I00Ci5QquB9szqaxu+uuk5TUSGjZQ4w4n+qujQiIuvTv2BxE7WCGQCifNMksyKILDiHzsOg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>

        
        <div id="logout-btn">
            <form action="/logout" method="post">
                <input type="submit" id="logout-btn" value="Logout"/>
            </form>
        </div>
        
        <div id="top-content">
            <h1>Welcome administrator, <%= session_username%>!</h1>
        </div>
        

        <div id="middle-content">

            <form action="/admin_tools" method="post" id="redir-to-add">
                <input type="submit" id="redit-send-submit" value="User Actions"/>
            </form>

            <div id="tables">

                <div id="main-users">
                    <h2 id="mastersheet-title">The master timesheet is below:</h2>
                    <table border=1>
                        <tr>
                            <th>Select User</th>
                            <th>Username</th>
                            <th>Total Time</th>
                        </tr>
                        <% var data_arr = JSON.parse( data_arr ); %>
                        <% for (var i = 0; i < data_arr.length; i++) { %>
                            <tr>
                                <td id="user-select"><input type="radio" id="selection" value="<%Object.values(data_arr[i])[0] %>" name="user-selection"></td>
                                <td id="username-td" name="<%Object.values(data_arr[i])[0] %>"><%= Object.values(data_arr[i])[0] %></td>
                                <td id="time"><%= Object.values(data_arr[i])[7] %></td>
                            </tr>
                        <% } %>
                    </table>

                    <button id="submit-btn" onclick="fill_name();edit_table();">Submit</button>

                </div>
                
                <% var user_arr = JSON.parse(user_data); %>
                <!--<% Object.values(user_arr[0]); %>-->
                <% var arr_length = user_arr.length; %>
    
                <script>
                    var client_data = [];
                    <% for(var x = 0; x < arr_length; x++){ %>
                        client_data.push(String( `<%= Object.values(user_arr[x])%> `).split(','));
                    <% } %>
    
                </script>
    
                <div id="user-table">
                    <h2>Timesheet of Selected User</h2>
                    <table border="1" id="selected-user">
                        <thead>
                            <tr>
                                <th>Select Entry</th>
                                <th>Username</th>
                                <th>Date</th>
                                <th>Task Name</th>
                                <th>Notes</th>
                                <th>Starting Time</th>
                                <th>Ending Time</th>
                                <th>Total Time</th>
                            </tr>
                            <tbody>
        
                            </tbody>
                        </thead>
        
                    </table>

                    <div id="select-entry">
                        <input type="submit" value="Select Entry" onclick="select_entry();"/>
                    </div>

                    <div id="selected-entry">
                        <h2>Selected Entry</h2>
                        <table id="selected-table">
                            <thead>
                                <th>Username</th>
                                <th>Date</th>
                                <th>Task Name</th>
                                <th>Notes</th>
                                <th>Starting Time</th>
                                <th>Ending Time</th>
                                <th>Total Time</th>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                        <div id="entry-options">
                            <input type="submit" value="Edit" onclick="edit_popup.open();fill_edit();"/>
                            <form id="edit-form" action="/edit_entry" method="post"></form>

                            <form id="del-entry" method="post" action="/del_entry">
                                <input type="text" name="del_username" id="del_username" readonly/>
                                <input type="text" name="del_date" id="del_date" readonly/>
                                <input type="text" name="del_taskname" id="del_taskname" readonly/>
                                <input type="text" name="del_notes" id="del_notes" readonly/>
                                <input type="text" name="del_starttime" id="del_starttime" readonly/>
                                <input type="text" name="del_endtime" id="del_endtime" readonly/>
                                <input type="text" name="del_totaltime" id="del_totaltime" readonly/>

                                <input type="submit" value="Delete" onclick="fill_delete();"/>
                            </form>
                        </div>


                    </div>

                </div>
    
                <script>
                    function edit_table(){
                        var table = document.getElementById('selected-user').getElementsByTagName('tbody')[0];
                        table.innerHTML = '';

                        var table2 = document.getElementById('selected-table').getElementsByTagName('tbody')[0];
                        table2.innerHTML = '';
                    
                        for(var i in client_data){ 
                            var tr = document.createElement('tr');
                            var td = document.createElement('td');
                            var radio = document.createElement('input');
                            radio.type = 'radio';
                            radio.id = 'selection-2';
                            radio.name = 'selection-2';
                            td.appendChild(radio);
                            tr.appendChild(td);
                            if(client_data[i].indexOf(document.getElementById('send-name').value) != -1){
                                for(var j = 0; j < client_data[i].length; j++){
                                    var td2 = document.createElement('td');
                                    switch(j){
                                        case 0:
                                            td2.id = 'sel-username';
                                            break;
                                        case 1:
                                            td2.id = 'sel-date';
                                            break;
                                        case 2:
                                            td2.id = 'sel-taskname';
                                            break;
                                        case 3:
                                            td2.id = 'sel-notes';
                                            break;
                                        case 4:
                                            td2.id = 'sel-starttime';
                                            break;
                                        case 5:
                                            td2.id = 'sel-endtime';
                                            break;
                                        case 6:
                                            td2.id = 'sel-totaltime';
                                            break;
                                    }

                                    td2.appendChild(document.createTextNode(client_data[i][j]));
                                    tr.appendChild(td2);
                                }
                                table.appendChild(tr);
                            }
                        }
                    }

                    function select_entry() {
                        var selectors = document.querySelectorAll('#selection-2');
                        var selected_row_data = [];
                        for(var i in selectors){
                            if(selectors[i].checked){
                                selected_row_data.push(document.querySelectorAll('#sel-username')[i].innerHTML);
                                selected_row_data.push(document.querySelectorAll('#sel-date')[i].innerHTML);
                                selected_row_data.push(document.querySelectorAll('#sel-taskname')[i].innerHTML);
                                selected_row_data.push(document.querySelectorAll('#sel-notes')[i].innerHTML);
                                selected_row_data.push(document.querySelectorAll('#sel-starttime')[i].innerHTML);
                                selected_row_data.push(document.querySelectorAll('#sel-endtime')[i].innerHTML);
                                selected_row_data.push(document.querySelectorAll('#sel-totaltime')[i].innerHTML);
                                break;
                            }
                        }

                        var table = document.getElementById('selected-table').getElementsByTagName('tbody')[0];
                        table.innerHTML = "";
                        var tr = document.createElement('tr');
                        for(var i = 0; i < selected_row_data.length; i++){
                            var td = document.createElement('td');
                            switch(i){
                                case 0:
                                    td.id = 'chose-username';
                                    break;
                                case 1:
                                    td.id = 'chose-date';
                                    break;
                                case 2:
                                    td.id = 'chose-taskname';
                                    break;
                                case 3:
                                    td.id = 'chose-notes';
                                    break;
                                case 4:
                                    td.id = 'chose-starttime';
                                    break;
                                case 5:
                                    td.id = 'chose-endtime';
                                    break;
                                case 6:
                                    td.id = 'chose-totaltime';
                                    break;
                            }

                            td.appendChild(document.createTextNode(selected_row_data[i]));
                            tr.appendChild(td);
                        }

                        table.appendChild(tr);
                                
                    }
                    
                </script>
            </div>
        </div>
        <!--
        <div class="edit-popup">
            <h1>Enter Information to Edit</h1>
            <input type="text" id="edit-username" name="edit_username" readonly/>
            <input type="text" id="edit-date" name="edit_date"/>
            <input type="text" id="edit-taskname" name="edit_taskname"/>
            <input type="text" id="edit-notes" name="edit_notes"/>
            <input type="text" id="edit-starttime" name="edit_starttime"/>
            <input type="text" id="edit-endtime" name="edit_endtime"/>
            <input type="text" id="edit-totaltime" name="edit_totaltime"/>
        </div>
        -->


        <input type="text" name="send_name" id="send-name" readonly/>
        
        <script>
            var times = document.querySelectorAll('#time');
            for(var i = 0; i < times.length; i++){
                if(Number(times[i].innerHTML) < 40){
                    times[i].style.color = "red";
                } else {
                    times[i].style.color = "green";
                }               
            }
            function fill_name() {
                for(var i = 0; i < document.querySelectorAll('#selection').length; i++){
                    if(document.querySelectorAll('#selection')[i].checked){
                        document.getElementById('send-name').value = document.querySelectorAll('#username-td')[i].innerHTML;
                        break;
                    }
                }   
            }

            function fill_delete() {
                var selected_tags = document.getElementById('selected-table').getElementsByTagName('tbody')[0].getElementsByTagName('tr')[0].getElementsByTagName('td');
                document.getElementById('del_username').value = selected_tags[0].innerHTML;
                document.getElementById('del_date').value = selected_tags[1].innerHTML;
                document.getElementById('del_taskname').value = selected_tags[2].innerHTML;
                document.getElementById('del_notes').value = selected_tags[3].innerHTML;
                document.getElementById('del_starttime').value = selected_tags[4].innerHTML;
                document.getElementById('del_endtime').value = selected_tags[5].innerHTML;
                document.getElementById('del_totaltime').value = Number(selected_tags[6].innerHTML);

            }

            var edit_popup = new tingle.modal({
                footer: true,
                closeMethods: ['button', 'escape'],
                closeLabel: "Close"
            });

            edit_popup.setContent(`<div class="edit-popup"><h1>Enter Information to Edit</h1><form id="edit-form" action="/edit_entry" method="post"><input type="text" id="edit-username" name="edit_username" readonly/><input type="text" id="edit-date" name="edit_date"/><input type="text" id="edit-taskname" name="edit_taskname"/><input type="text" id="edit-notes" name="edit_notes"/><input type="time" id="edit-starttime" name="edit_starttime"/><input type="time" id="edit-endtime" name="edit_endtime" onchange="total_time();"/><input type="text" id="edit-totaltime" name="edit_totaltime" readonly/></form></div>`);
            edit_popup.addFooterBtn('Close', 'edit-popup-close', function() {
                edit_popup.close();
            });
            edit_popup.addFooterBtn('Edit', 'edit-popup-submit', function() {
                edit_form_fill();
                document.getElementById('edit-form').submit();
            });

            function convert_time (time){
                var new_time = "";
                var start_time = time.split(' ');
                if(start_time[1] == "AM"){
                    var am_time = start_time[0].split(":");
                    if(am_time[0].length < 2){ am_time[0] = "0" + am_time[0]; }
                    if(Number(am_time[0]) == 12) { am_time[0] = "00"; }
                    new_time = am_time.join(':');
                } else {
                    var pm_time = start_time[0].split(":");
                    if(Number(pm_time[0]) == 12){
                        new_time = pm_time.join(":");
                    } else {
                        pm_time[0] = String(Number(pm_time[0]) + 12);
                        new_time = pm_time.join(":");
                    }
                }   
                return new_time;
            }

            function fill_edit() {
                var edit_tags = document.getElementById('selected-table').getElementsByTagName('tbody')[0].getElementsByTagName('tr')[0].getElementsByTagName('td');
                document.getElementById('edit-username').value = edit_tags[0].innerHTML;
                document.getElementById('edit-date').value = edit_tags[1].innerHTML;
                document.getElementById('edit-taskname').value = edit_tags[2].innerHTML;
                document.getElementById('edit-notes').value = edit_tags[3].innerHTML;
                document.getElementById('edit-starttime').value = convert_time(edit_tags[4].innerHTML);
                document.getElementById('edit-endtime').value = convert_time(edit_tags[5].innerHTML);
                document.getElementById('edit-totaltime').value = edit_tags[6].innerHTML;
            }

            function convert_start_time (){
                var [h, m] = document.getElementById('edit-starttime').value.split(":");
                var am_pm = ((h % 12 ? h % 12 : 12) + ":" + m, h >= 12 ? 'PM' : 'AM');
                var check = document.getElementById('edit-starttime').value.split(':')[0];
                if(Number(check) > 12){
                    check = Number(check) - 12;
                }
                var final = `${check}:${document.getElementById('edit-starttime').value.split(':')[1]} ${am_pm}`;
                return final;
            }

            function convert_end_time () {
                var [h, m] = document.getElementById('edit-endtime').value.split(":");
                var am_pm = ((h % 12 ? h % 12 : 12) + ":" + m, h >= 12 ? 'PM' : 'AM');
                var check = document.getElementById('edit-endtime').value.split(':')[0];
                if(Number(check) > 12){
                    check = Number(check) - 12;
                }
                var final = `${check}:${document.getElementById('edit-endtime').value.split(':')[1]} ${am_pm}`;
                return final;
            }

            function edit_form_fill() {
                var edit_tags = document.getElementById('selected-table').getElementsByTagName('tbody')[0].getElementsByTagName('tr')[0].getElementsByTagName('td');
                var edit_form = document.getElementById('edit-form');

                for(var i = 0; i < document.getElementById('selected-table').getElementsByTagName('tbody')[0].getElementsByTagName('tr')[0].getElementsByTagName('td').length; i++){
                    var old_input = document.createElement('input');
                    old_input.id = "old-" + String(i);
                    old_input.name = "old_" + String(i);
                    old_input.value = edit_tags[i].innerHTML;
                    edit_form.appendChild(old_input);
                }


                for(var i = 0; i < 4; i++){
                    var input_tag = document.createElement('input');
                    input_tag.id = "edit-" + String(i);
                    input_tag.name = "edit_" + String(i);
                    input_tag.value = edit_tags[i].innerHTML;
                    if(i == 0) { input_tag.readOnly; }
                    edit_form.appendChild(input_tag);
                }
                for(var i = 4; i < 6; i++){
                    var time_input_tag = document.createElement('input');
                    time_input_tag.id = "edit-time-" + String(i);
                    time_input_tag.name = "edit_time_" + String(i);
                    if(i == 5){ 
                        time_input_tag.onchange = "total_time();"; 
                        time_input_tag.value = convert_end_time(edit_tags[i].innerHTML);
                    } else {
                        time_input_tag.value = convert_start_time(edit_tags[i].innerHTML);
                    }
                    edit_form.appendChild(time_input_tag);
                }

                var total_time_tag = document.createElement('input');
                total_time_tag.id = "total-time";
                total_time_tag.name = "total_time";
                total_time_tag.readOnly;
                edit_form.appendChild(total_time_tag);

                total_time();

            }

            function total_time (){
                var edit_tags = document.getElementById('selected-table').getElementsByTagName('tbody')[0].getElementsByTagName('tr')[0].getElementsByTagName('td');
                var hours = Number( convert_time(document.getElementById('edit-endtime').value).split(':')[0] ) - Number( convert_time(document.getElementById('edit-starttime').value).split(':')[0] );
                var mins = Math.abs(Number( convert_time(document.getElementById('edit-endtime').value ).split(':')[1])) - Number( convert_time(document.getElementById('edit-starttime').value).split(':')[1] );
                var total = hours + (mins / 60);
                if(document.getElementById('total-time')){ document.getElementById('total-time').value = Number(total); }
                document.getElementById('edit-totaltime').value = Number(total);
            }


        </script>

    </body>
</html>
