#start, #end, #total_hours {
    display: none;
}

#top-content{
    display: flex;
    justify-content: center;
}

#middle-content{
    display:flex;
    justify-content: center;
}

input{
    margin-top: 25px;
    padding: 5px;
    display: table-cell;
}

input[type="submit"]{
    margin-left:10%;
    text-decoration: none;
    border: none;
    background-color: rgb(0,145,184);
    padding: 10px;
    border-radius: 8px;
    color: white;
    margin-left: 70%;
}

input[type="submit"]:hover{
    background-color: rgb(0,60,105);
    cursor: pointer;
}

p{
    display: table-row;
}

label{
    display: table-cell;
    font-size: 18px;
    padding-right: 5px;
}

form{
    display: table;
}

input[type="text"]{
    background-color: #40444B;
    color:white;
    border-radius: 5px;
    margin-left: 1%;
    border: none;
    padding: 10px;
}

input[type="text"]:focus{
    outline: 0;
}

textarea {
    background-color: #40444B;
    color:white;
    border-radius: 5px;
    margin-left: 1%;
    border: none;
}

textarea:focus{
    outline: 0;
}

input[type="time"]{
    background-color: #40444B;
    color:white;
    border-radius: 5px;
    margin-left: 1%;
    border: none;
}

input[type="time"]:focus{
    outline:0;
}