tbody tr:nth-child(odd){
    background-color: #5e6c7a;
}
tbody tr:nth-child(even){
    background-color: #3e464e;
}


td{
    padding: 5px
}

th{
    padding: 5px;
    background-color: rgb(0, 145, 184);
    color: white;
}

table {
    border-collapse: collapse;
    border: 1px;
    border-color: transparent;
    box-shadow: 4px 5px 12px 4px rgb(0 0 0 / 20%);
}

#top-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#middle-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logout-form {
    position: absolute;
    right: 1%;
    top: 3%;
}

#logout-btn{
    margin-left:10%;
    text-decoration: none;
    border: none;
    background-color: rgb(233, 114, 114);
    padding: 10px;
    border-radius: 8px;
    color: white;
}

#logout-btn:hover{
    background-color: rgb(177, 20, 20);
    cursor: pointer;
}

#redit-send-submit{
    margin-left:10%;
    text-decoration: none;
    border: none;
    background-color: rgb(0,145,184);
    padding: 10px;
    border-radius: 8px;
    color: white;
}

#redit-send-submit:hover{
    background-color: rgb(0,60,105);
    cursor: pointer;
}

#bottom-content{
    display: flex;
    justify-content: center;
}


p{
    font-size: 22px;
    font-weight: bold;
}

#total-hours-p{
    padding-left: 10px;
}

